.backdrop__exit-btn {
  background-color: transparent;
  background-image: url(../../../images/white-exit.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right: -27px;
  top: -27px;
  height: 25px;
  width: 25px;
  opacity: 1;
  transition: ease-in-out opacity 0.2s;
}

.backdrop__exit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (min-width: 768px) {
  .backdrop__exit-btn {
    right: -34px;
    top: -34px;
    height: 32px;
    width: 32px;
  }
}
