.nav-bar__btn {
  background-color: #fff;
  border: none;
  padding: 5px;
  z-index: 1;
}

.nav-bar__btn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-bar__btn {
    display: none;
  }
}
