@import url(./__text/contact__text.css);
@import url(./__link/contact__link.css);

.contact {
  padding: 50px 20px;
  background-image: url(../../images/letter.svg);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: right -20px bottom -30px;
}

@media (min-width: 425px) {
  .contact {
    background-size: 240px;
  }
}

@media (min-width: 768px) {
  .contact {
    padding: 70px 20px;
    background-size: 340px;
    background-position: right -5px bottom -90px;
  }
}

@media (min-width: 1024px) {
  .contact {
    background-size: 410px;
    background-position: right -5px bottom -100px;
  }
}

@media (min-width: 1280px) {
  .contact {
    background-position: right -15px bottom -170px;
    background-size: 510px;
  }
}
