@import url(./__text/info__text.css);

.info {
  padding: 50px 30px 0;
}

@media (min-width: 768px) {
  .info {
    padding: 100px 150px 0;
  }
}

@media (min-width: 1280px) {
  .info {
    display: inline-block;
    vertical-align: top;
    width: 319px;
    height: 650px;
    padding: 80px 30px 0;
  }
}
