.product__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  grid-area: title;
}

@media (min-width: 1024px) {
  .product__title {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
  .product__title {
    font-size: 2.5rem;
  }
}
