.product__images {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

@media (min-width: 375px) {
  .product__images {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .product__images {
    margin: 0;
    grid-area: images;
  }
}
