.nav-bar__btn_exit span:nth-of-type(1) {
  transform: translateY(9px) rotate(45deg);
}

.nav-bar__btn_exit span:nth-of-type(2) {
  opacity: 0;
}

.nav-bar__btn_exit span:nth-of-type(3) {
  transform: translateY(-9px) rotate(-45deg);
}
